html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.login{
  text-align: center;
}
.login > form{
  margin: 0 auto;
}
